.card {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}

.card img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 3px 7px -1px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 374.98px) {
  .card img {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .card img {
    width: 355px;
  }
}

@media screen and (min-width: 768px) {
  .card img {
    width: 33%;
    margin: 0;
  }
}

.about {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about h2 {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about h2 {
    text-align: start;
  }
}

.about .score {
  margin-bottom: 10px;
}

.about div {
  margin-bottom: 10px;
}
